@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Estilos básicos para que le Senior Manuel los mejore */
:root {
  --primary:#2CB65C;
  --light:#EEEEEE;
  --dark:#212121;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: var(--dark);
  padding: 2rem 3rem;
  border-bottom: .1875rem solid var(--primary);
}

h1 {
  color: #FFF;
  font-size: 1.75rem;
  font-weight:900;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

}

.hamburger span {
  display: block;
  width: 2.0625rem;
  height: .25rem;
  margin-bottom: .3125rem;
  position: relative;

  background-color: var(--light);
  border-radius: .375rem;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(1) {
  transform: translateX(.625rem);
  background-color: var(--primary);
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(.625rem);
  background-color: var(--primary);
}

.hamburger:hover span:nth-child(3) {
  transform: translateX(.625rem);
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(.125rem, .125rem) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translate(.9375rem);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(0rem, .4375rem) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.menu {
  margin: 0 1rem;
}

.menu a {
  color: #FFF;
  margin: 0 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: .5rem 1rem;
  border-radius: 6.1875rem;
}

.menu a.is-active, .menu a:hover {
  background-color: var(--primary);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
}
